<header class="site-header">
    <div class="navbar-fixed">
        <nav class="{{ site.css }} darken-2 waves-effect waves-light">
            <div class="nav-wrapper">
               <div class="container">
                <a internal href="{{ site.baseurl }}/" class="brand-logo"><i class="fa fa-align-justify"></i> {{site.title}}</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a internal href="http://fractalio.com" target="_blank"><strong>Home</strong></a>
                    </li>
                    <li><a internal href="http://fractalio.com/#about" target="_blank"><strong>About</strong></a>
                    </li>
                    <li><a href="http://github.com/fractalio/" target="_blank"><strong>GitHub</strong></a>
                    </li>
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile">Menu</a>
            </div>
            </div>
        </nav>
    </div>
</header>